<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/tempelates/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <h2>Signup</h2>
    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Enter Name">
    <br>
    <input type="number" name="number" placeholder="Enter Phone Number">
    <br>
    <input type="email" name="email" placeholder="Enter Email">
    <br>
    <input type="password" name="password" placeholder="Enter Password">
    <br><br>
    <input type="submit">
    </form>
</body>
</html>